<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Please login</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" id="username">
         <input type="password" placeholder="Password" name="password" id="password">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
    </div>
    <!-- <script src="https://www.gstatic.com/firebasejs/7.15.3/firebase-app.js"></script>

<script>
  var firebaseConfig = {
    apiKey: "AIzaSyCf-90YLu78oyfdqqjBQmW5N3z41wS9R38",
    authDomain: "caterer-cd2e1.firebaseapp.com",
    databaseURL: "https://caterer-cd2e1.firebaseio.com",
    projectId: "caterer-cd2e1",
    storageBucket: "caterer-cd2e1.appspot.com",
    messagingSenderId: "906930722238",
    appId: "1:906930722238:web:e92764a377c0d7574215ef"
  };
 // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script> -->
  </body>
</html>